:root {
  --unit: 8px;
}

* {
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  line-height: var(--body-medium-line-height);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  text-transform: var(--body-medium-text-case);
  -webkit-text-decoration: var(--body-medium-text-decoration);
  text-decoration: var(--body-medium-text-decoration);
}

button {
  padding: 8px 24px;
  height: 40px;
  background-color: #1c304b;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 5%;
  text-transform: uppercase;
}

button:hover {
  background-color: #030c18;
}

button:active {
  background-color: #495667;
}

button:has(.icon) {
  min-width: 40px;
  height: 40px;
  padding: 8px;
}
