:root {
  --unit: 8px;
}

* {
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  line-height: var(--body-medium-line-height);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  text-transform: var(--body-medium-text-case);
  -webkit-text-decoration: var(--body-medium-text-decoration);
  text-decoration: var(--body-medium-text-decoration);
}

button {
  padding: 8px 24px;
  height: 40px;
  background-color: #1c304b;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 5%;
  text-transform: uppercase;
}

button:hover {
  background-color: #030c18;
}

button:active {
  background-color: #495667;
}

button:has(.icon) {
  min-width: 40px;
  height: 40px;
  padding: 8px;
}

button.interactive {
  background-color: inherit;
  color: var(--icons-02);
  border: calc(var(--unit) / 8) solid transparent;

  min-width: calc(4 * var(--unit));
  width: calc(4 * var(--unit));
  height: calc(4 * var(--unit));
  padding: calc(var(--unit) / 2);

  & :has(.material-icons:not(.left, .right)),
  & :has(.spinner:not(.left, .right)) {
    min-width: calc(4 * var(--unit));
    width: calc(4 * var(--unit));
    height: calc(4 * var(--unit));
    padding: calc(var(--unit) / 2);
  }

  & :hover {
    color: var(--icons-01);
    background-color: var(--backgrounds-02);
    border: calc(var(--unit) / 8) solid
      var(--borders-dividers-interactive-hover);
  }

  & :active {
    color: var(--icons-01);
    background-color: var(--backgrounds-03);
  }

  & :focus-visible {
    outline: calc(var(--unit) / 2) solid
      var(--borders-dividers-interactive-focused);
  }

  & :disabled {
    color: var(--icons-03);
    pointer-events: none;
  }
}

.material-icons {
  font-family: 'Material Icons Round';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
